d = {'key1':'value','key2':'123'}

In [3]:
d['key1']

'value'

In [4]:
d['key2']

'123'

In [5]:
d ={'k1':[1,2,3]}

In [6]:
d

{'k1': [1, 2, 3]}

In [8]:
d['k1']

[1, 2, 3]

In [9]:
d['k1'][1]

2

In [10]:
my_list =d['k1']

In [11]:
my_list

[1, 2, 3]

In [12]:
my_list[0]

1

In [14]:
d['k1'][2]

3

In [15]:
d={'k1':{'innerkey':[1,2,3]}}

In [16]:
d['k1']

{'innerkey': [1, 2, 3]}

In [17]:
d

{'k1': {'innerkey': [1, 2, 3]}}

In [18]:
d['k1']['innerkey']

[1, 2, 3]

In [19]:
d['k1']['innerkey'][1]

2

In [20]:
my_list =[1,2,3]

In [21]:
my_list[1]

2

In [22]:
t =(1,2,3)

In [24]:
t[2]

3

In [25]:
my_list[0]='new'

In [26]:
my_list

['new', 2, 3]

In [27]:
{1,2.3}

{1, 2.3}

In [28]:
{2,2,2,2,5,5,4,7,7,7,7}

{2, 4, 5, 7}

In [46]:
set([1,1,2,2,3,3,3,3,3,4,5,5,5,6,6])

TypeError: 'list' object is not callable

In [47]:
s = {1,2,3}

In [48]:
s.add(8)

In [49]:
s

{1, 2, 3, 8}

In [50]:
1<2

True

In [51]:
2>3

False

In [52]:
4<=1

False

In [53]:
4==4

True

In [54]:
5==2

False

In [55]:
5!=7

True

In [56]:
4<5 and 3<1

False

In [57]:
(4<5) and (3<1) or 6==7

False

In [64]:
if(3<4):
    print('shikhar')

shikhar

In [63]:
if(9==9):
    print('shikhar')
else:
    print('Dubey')

shikhar

In [65]:
if(9 !=9):
    print('shikhar')
else:
    print('Dubey')

Dubey

In [68]:
if(9 ==7):
    print('shikhar')
elif(4!=6):
    print('deepika')
elif(5==5):
    print('dubey')
else:
    print('sunny')

deepika

In [69]:
seq=[1,2,3,4,5]

In [73]:
for num in seq:
    print(num)

1
2
3
4
5

In [74]:
for num in seq:
    print('hello')

hello
hello
hello
hello
hello

In [77]:
i=1
while i<9:
    print('i is {}:'.format(i))
    i=i+2

i is 1:
i is 3:
i is 5:
i is 7:

In [82]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [79]:
range(0,5)

range(0, 5)

In [83]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [84]:
x =[1,2,3,4]

In [85]:
out =[]
for num in x:
    out.append(num**3)

In [86]:
print(out)

[1, 8, 27, 64]

In [88]:
[num**3 for num in x]

[1, 8, 27, 64]