In [1]:
x="Analytix labs"

In [2]:
x.split()

['Analytix', 'labs']

In [4]:
#DATATYPES-strings,lists and dictionary

In [5]:
#str
s1="Analytixlabs"
s2='this is also analytixlabs'
#For multiple line we use 3 inverted commas
s3="""
this is also analytixlabs
other name of analytixlab is Alabs"""
print(s1)
print(s2)
print(s3)

Analytixlabs
this is also analytixlabs

this is also analytixlabs
other name of analytixlab is Alabs

In [13]:
print(type(s1))
print(isinstance(s2,str))

<class 'str'>
True

In [16]:
#length of string
print(len(s3))
print(len(s1))

61
12

In [17]:
# replace a substring in a string with something else
s4=s2.replace("analytixlabs","Alab")
print(s4)

this is also Alab

In [18]:
s1

'Analytixlabs'

In [19]:
s1[0]

'A'

In [20]:
#s1[start:end]
s1[0:6]

'Analyt'

In [21]:
s1[:6]

'Analyt'

In [22]:
s1[6:]

'ixlabs'

In [23]:
s1[4:5]

'y'

In [26]:
#remove last 3 index
s1[6:-3]

'ixl'

In [29]:
#remove last 2 index
s1[6:-2]

'ixla'

In [30]:
s1[:]

'Analytixlabs'

In [31]:
#s1[start:end:step]
s1[::2]
#this technique is called slicing.

'Aayilb'

In [ ]:
#STRING METHODS

In [32]:
s1.endswith("labs")

True

In [34]:
s2.split(" ")

['this', 'is', 'also', 'analytixlabs']

In [35]:
s1.find("lytix")

3

In [36]:
s1.index("lytix")

3

In [40]:
#DIFFERENCE B/W FIND AND INDEX

In [38]:
print(s1.index("cat"))

ValueError: substring not found

In [39]:
print(s1.find("cat"))

-1

In [43]:
#splitting a string gives a list
s="Analytix labs is premier capability bulding company"
s1=s.split(" ")
print(s1)

['Analytix', 'labs', 'is', 'premier', 'capability', 'bulding', 'company']

In [45]:
s + "Based out of Gurgaon " + "Also it has offices in Bangalore and Malaysia"

'Analytix labs is premier capability bulding companyBased out of Gurgaon Also it has offices in Bangalore and Malaysia'

In [47]:
'Alabs ' * 4

'Alabs Alabs Alabs Alabs '

In [ ]:
#Type conversion to/from string

In [48]:
str(12345)

'12345'

In [49]:
"Apple" + str(7)

'Apple7'

In [50]:
int('123')

123

In [51]:
#string formatting examples

In [52]:
print("str1",1.0,False,-1j)

str1 1.0 False (-0-1j)

In [53]:
print("value=%f" %1.0)

value=1.000000

In [54]:
print("value1=%.2f. value2=%d" %(3.141,1.5))

value1=3.14. value2=1

In [57]:
s3='value1={0},value2={1}'.format(3.141,1.5)

In [58]:
print(s3)

value1=3.141,value2=1.5

In [59]:
#LIST

In [1]:
l=(1,2,3,4,"a")
print(type(l))
print(l)

<class 'tuple'>
(1, 2, 3, 4, 'a')

In [3]:
print(l)
print(l[1:3])
print(l[::2])

(1, 2, 3, 4, 'a')
(2, 3)
(1, 3, 'a')

In [4]:
print(l[:2])

(1, 2)