In [4]:
def shikhar(var):
    return var*2

In [6]:
shikhar(12)

24

In [10]:
seq =[5,6,7,8,9]

In [11]:
map(shikhar,seq)

In [12]:
list(map(shikhar,seq))

[10, 12, 14, 16, 18]

In [17]:
t = lambda var: var*2

In [19]:
t(18)

36

In [25]:
list(map(lambda num:num*4,seq))

[20, 24, 28, 32, 36]

In [27]:
list(filter(lambda num:num%2==0,seq))

[6, 8]

In [31]:
d = "hello i'm shikhar"

In [32]:
d.lower()

"hello i'm shikhar"

In [33]:
d.upper()

"HELLO I'M SHIKHAR"

In [34]:
d.split()

['hello', "i'm", 'shikhar']

In [35]:
tweet = 'go sports! #sports'

In [37]:
tweet.split()

['go', 'sports!', '#sports']

In [39]:
tweet.split('#')

['go sports! ', 'sports']

In [40]:
tweet.split('#')[1]

'sports'

In [41]:
s ={'k1':1,'k2':2}

In [42]:
s

{'k1': 1, 'k2': 2}

In [44]:
s.keys()

dict_keys(['k1', 'k2'])

In [45]:
s.items()

dict_items([('k1', 1), ('k2', 2)])

In [47]:
s.values()

dict_values([1, 2])

In [48]:
lst=[3,4,5]

In [49]:
lst.pop()

5

In [51]:
lst

[3, 4]

In [52]:
lst =[1,2,3,4,5,6,7]

In [55]:
item=lst.pop()

In [56]:
lst

[1, 2, 3, 4]

In [57]:
item

5

In [58]:
first=lst.pop(0)

In [59]:
lst

[2, 3, 4]

In [60]:
first

1

In [61]:
lst.append('new')

In [62]:
lst

[2, 3, 4, 'new']

In [63]:
'x'in [1,2,3]

False

In [65]:
'x' in ['x','y','z']

True

In [68]:
x =[(2,3),(4,5),(6,7)]

In [69]:
for a,b in x:
    print(a)
    print(b)

2
3
4
5
6
7